.hero {
  background: url("/src/images/irelandlandscape.jpg") center center/cover
    no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}

.hero__container {
  color: white;
  opacity: 1;
  font-family: "League Spartan", sans-serif;
  font-size: 38px;
  line-height: 1;
  margin:30px;
 
}
.hero__underline {
  text-decoration-line: underline;
  text-decoration-color: #a8141e;
} 

.hero__box {
  margin-top: 8px;
  color: #c8dad8;
  font-size: 18px;
  font-family: "Libre Baskerville", serif;
  /* max-width: 40rem; */
  line-height: 1.5;
  margin-top: 10px;
  margin: 10px 15px 0px 25px;

}

.hero__name {
  color: #c8dad8;
}

@media screen and (max-width: 768px) {
  .hero-container > h1 {
    /* max-width: 500px; */
    font-size: 30px;
  }

}



