.hero-container {
    background: url('/src/images/irelandlandscape.jpg') center center/cover no-repeat; 
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
  }

  .hero-msg {
color: white; 
font-family: 'Josefin Sans', sans-serif;
font-size: 40px;
text-align: center;
font-weight: bolder;
margin: 30px 300px;
letter-spacing: 2px;

  }

  .hero-heading {
font-size: 20px;
margin: 10px 210px;
padding-bottom: 90px;
color: white;
text-align: center;
font-family: 'Merriweather', serif;  
}
  
    span {
        text-decoration: #cf2e2e underline;
    }


