.cardUl {
  list-style: square;
}

.container {
  background-color: #ebf6f5;
  padding: 0px 40px;
}

.cover {
  display: flex;
  justify-content: center;
  height: auto;
  width: 92%;
  margin-left: 5%;
  max-width: 90%;
  object-fit: cover;
  padding: 0px 0px;
}

.tips {
  display: flex;
  flex-direction: row;
  resize: both;
  overflow: auto;
}

ul {
  padding: 5px;
}

li {
  padding: 3px;
  color: black;
}

a {
  color:#5cbdb9;
}

.box {
  padding: 20px 10px 10px 0px;
  margin: 0px 30px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Karla", sans-serif;
}

.infoAbout {
  font-size: 1.1rem;
  padding: 10px 20px;
}

.card {
  min-width: 80vw;
  margin: 10px 10px 10px 0px;
  padding: 10px;
  background-color: whitesmoke;
}

.title {
  display: flex;
  justify-content: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: 3rem;
  padding-top: 40px;
}

span {
  text-decoration: none;
}

.containerInfo {
  display: flex;
  font-size: 1rem;
  margin: 0px 20px;
  min-width: 268px;
  flex-grow: 1;
  margin: auto;
  flex-direction: row;
}

.info1 {
  padding: 10px 20px;
  padding-left: 10px;
}

.info2 {
  padding: 10px 30px;
  padding-left: 0px;
}

.info3 {
  padding: 10px 20px;
  padding-left: 0px;
}

strong {
  color: #5cbdb9;
  font-size: 18px;
  font-weight: bolder;
}

.color {
  color: #5cbdb9;
}

li {
  list-style-type: square;
  padding-top: 10px;
}


@media (min-width: 320px) and (max-width: 768px) {
  .cover {
    width: auto;
    height: auto;
  }

  .CountryInfo_containerInfo {
    display: flex;
    flex-direction: column;
    line-height: 20px;
  }

  .info1 {
    padding-left: 0px;
  }

  .title {
    padding: 20px 0px 0px 10px;
  }

  .info2 {
    padding: 10px 15px 0px 0px;
    /* margin-right: 50px; */
  }

  .info3 {
    padding: 10px 0px;
  }

  .infoAbout {
    /* font-size: 1rem; */
    padding: 10px 8px;
  }

  /* p {
    padding-right: 40px;
  } */

 .countryInfo_card{
  width:auto;

 }

  .tips {
    display: flex;
    flex-direction: column;
    resize: both;
    overflow: auto;
    margin: 10px 0px;
  }
}
