.cardUl {
  list-style: square;
}

.container {
  background-color: #ebf6f5;
}

.cover {
  display: flex;
  justify-content: center;
  height: auto;
  width: 92%;
  margin-left: 15%;
  max-width: 70%;
  object-fit: cover;
  padding: 0px 0px;
}

.tips {
  display: flex;
  flex-direction: row;
}

ul {
  padding: 0;
}

li {
  padding: 3px;
  color: black;
}

.box {
  padding: 10px;
  /* margin: 0px 20px; */
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Karla", sans-serif;
}

.infoAbout {
  font-size: 1.1rem;
  padding: 0px 20px;
}

.card {
  margin: 10px 10px 10px 0px;
  padding: 10px;
  background-color: whitesmoke;
}

.title {
  display: flex;
  justify-content: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: 3rem;
  padding-top: 20px;
}

span {
  text-decoration: none;
}

.containerInfo {
  display: flex;
  font-size: 0.98rem;
}

.info1 {
  padding: 10px 30px;
  padding-left: 10px;
}

.info2 {
  padding: 10px 30px;
  padding-left: 0px;
}

strong {
  color: #5cbdb9;
}

@media (min-width: 320px) and (max-width: 768px) {
  .cover {
    width: auto;
    height: auto;
    /* object-fit: cover; */
  }

  .infoAbout {
    /* font-size: 1rem; */
  }


}
