body {
  margin: 0;
  padding: 0;
}

.cardUl {
  list-style: square;
}

.container {
  background-color: #e4f2f7;
}

.cover {
  width: 60vw;
  height: auto;
  object-fit: cover;
  padding-left: 50px;
}

.tips {
  display: flex;
}

ul {
  padding: 0;
  margin: 5px;
}

li {
  padding: 5px;
}

.box {
  padding: 10px;
}

.info {
  width: 80vh;
  display: flex;
  flex-direction: column;
  padding: 5px 50px;
  font-family: 'Karla', sans-serif;
  width: 50vw;
}

.infoAbout {
  font-size: 2rem;
}

.card {
  margin: 10px 10px 10px 0px;
  padding: 10px;
  background-color: whitesmoke;
}

.title {
  margin: 0 50px;
  text-align: left;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 3rem;
}

span {
  text-decoration: none;
}

.containerInfo {
  display: flex;
  font-size: 0.98rem;
}

.info1,
.info2 {
  padding-right: 50px;
  padding-left: 0px;
}

span {
  margin-left: 5px;
}

p,
strong {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}
