.search {
  width: 60vw;
  height: 40px;
  padding: 5px 10px;
}

.searchBar {
  margin: 10px 50px;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.cardItem {
  margin: 10px 50px;
  width: 20vw;
}
