.navbar {
  background: #2c423f;
  padding-left: 20px;
  /* height: 70px; */
  /* width: 100%; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 80px; */
  max-width: 1500px;
  margin: 30px 0 0 0;
}

.navbar-logo {
  color: white;
  justify-self: start;
  /* margin-left: 10px; */
  cursor: pointer;
  text-decoration: none;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  /* padding:4px; */
}

.fa-plane{
/* padding-top:4px; */
}
.navbar-logo > h1 {
  color: white;
  font-family: "Dancing Script", sans-serif;
  /* margin-bottom: -30px; */
}

.navbar-logo:hover {
  color: darkgreen;
  transition: all 0.2s ease-out;

}
.nav-menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 60vw;
  justify-content: end;
  margin-right: 2rem;
}

.nav-item {
  height: 80px;
}

.nav-links {
  color: #fff;
  font-family: "Josefin Sans", serif;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
}

.nav-links:hover {
  border-bottom: 4px solid #fff;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: white;
  font-size: 1.8rem;
}

.-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

.fa-solid {
  padding-left: 15px; 
  padding-bottom: 15px;
   color: white; 
}

@media screen and (max-width: 960px) {
  .nav-item {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #2c423f;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: #fff;
    color: #2c423f;
    border-radius: 0;
  }

  /* .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  } */

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    padding-top:8px;
    transform: translate(-100%, 60%);
    font-size: 1.5rem;
    cursor: pointer;
  }

  .fa-times {
    color: white;
    font-size: 2rem;
  }

  .fa-solid {
    padding-left: 15px;
    padding-bottom: 15px;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 100%;
    text-decoration: none;
    font-size: 1.5rem;
    /* background-color:  #2c423f; */
    color: #fff;
    padding: 14px 20px;
    transition: all 0.3s ease-out;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #2c423f;
    transition: 250ms;
  }
}


@media (max-width: 320px) {
  .navbar {
    width: 100%;
  }

  .nav-menu {
    grid-template-columns: auto;
    grid-template-rows: repeat(4, auto);
  }

  .nav-links {
    width: 100%;
  }

}