.signUp {
  background-color: #e4f2f7;
  border-radius: 10px;
  width: 550px;
  margin: 20px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.signUpBody {
  padding: 20px 10px;
  width: 550px;
}

.signUpBody > * {
  padding: 5px;
}

.signUpLabel {
  width: 220px;
  margin-left: 110px;
  font-weight: 900;
}

.signUpInput {
  width: 330px;
  display: flex;
  margin-left: 110px;
  border-radius: 5px;
}

.footer {
  text-align: center;
}

.signUpBtn {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 15px;
  background-color: whitesmoke;
}
