.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 46rem;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: row;
  margin-left: 200px;
}

.cards {
  padding: 4rem;
  background: #fff;
  width: 1200px;
}

.cardItem {
  margin-left: 100px;
  width: 200vw;
  font-size: 20px;
  font-family: "Merriweather", serif;
  line-height: 2;
}

.h1 {
  font-size: 40px;
  color: rgb(14, 82, 59);
  font-family: "League Spartan", sans-serif;
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 1200px) {
  .container {
    width: 74%;
    flex-direction: row;
  }
}

@media only screen and (min-width: 1024px) {
  .cardsItems {
    display: flex;
  }
}

@media only screen and (max-width: 1024px) {
  .cardsItem {
    margin-bottom: 2rem;
  }
}
