.container {
  display: flex;
  flex-wrap: wrap;
}

.cardItem {
  margin: 10px 50px;
  width: 200vw;
  font-size: 20px;
  font-family: 'Merriweather', serif;
}

.h1{
  font-size: 40px;
  color:rgb(14, 82, 59) ;
  font-family: 'Merriweather', serif;
}