.currentComment { 
  background-image: url("./mount.jpg");
  background-size: cover;  
}

#comments {
  size: large;
  text-align: center;
  color: black;
  padding-top: 5px;
  padding-bottom: 20px;
}
.containerComment{ 
margin-right: 35px;
display: flex;
flex-direction: row;
justify-content: space-around;

}
.form{
width: 500px;
text-align: center;
margin-left: 20px;
background-color:whitesmoke ;
box-shadow: 5px 10px lightslategrey; 
margin-bottom: 30px;
padding-bottom:35px;
color: black;
border: 50px;
font-weight: bolder;
gap: 2px;
border-radius: 15px;
}

#formh1{
  padding-top: 7px;
  color: black;
  margin-top: 4px;
  padding-top: 50px;

}

.idComment {
  width: 650px;
  background-color: whitesmoke;
  box-shadow: 5px 5px gray;
  opacity:8;
  margin-left: 25px;
  border-radius: 4px;
  margin-top: 4px;
  color: black;
  text-align: center;
}

.idComment:hover {
  background-color: paleturquoise;
}

#commentDescription{
  height: 150px;
  width: 70%;
  padding-bottom: 80px;
  border-radius: 4px;
 
}
#commentTitle, #commentImage,#commentName,#commentDate{
  width: 70%;
  padding-bottom: 3px;
  border-radius: 4px;

}

.btn {
  border-color: #000204;
  color: rgb(0, 0, 0);
  font-size: larger;
  box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  border-radius: 15%;
  
}
.btn:hover {
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}

.Button {
  size:large;}

.h2comment {
  font-weight: bolder;
}
